{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@store": "./src/store",
          "@components": "./src/components",
          "@features": "./src/features",
          "@helpers": ["./src/helpers"],
          "@hooks": ["./src/hooks"],
          "@types": ["./src/types"]
        }
      }
    ]
  ]
}
